* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_pri {
    font-size: 4rem;
    color: rgb(241, 58, 45);
}

.pokebola {
    width: 150px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    color: rgb(32, 32, 32);
    margin-bottom: 0;
}

p {
    color: rgb(32, 32, 32);
    margin-bottom: 0;
}


#Infos-poke {
    margin: 4rem auto;
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 2rem;
}

.element_info {
    background-color: rgb(236, 44, 44);
    border: 2px solid black;
    padding: 0.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0;
}

.separe_poke {
    width: 100%;
    color: white;
    transition: 500ms;
    padding: 1rem;
}

.separe_poke:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

.imgpoke {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;

    border: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.typesClass {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0;
    gap: 0.5rem;
}

.type_green {
    background-color: rgb(6, 180, 6);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_fire {
    background-color: rgb(255, 102, 0);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_water {
    background-color: blue;
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_bug {
    background-color: rgb(60, 226, 60);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_normal {
    background-color: grey;
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_poison {
    background-color: rgb(167, 19, 167);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_eletric {
    background-color: rgb(190, 190, 14);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_ground {
    background-color: rgb(114, 70, 12);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_fairy {
    background-color: rgb(233, 158, 240);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_poison {
    background-color: rgb(94, 4, 102);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_flying {
    background: linear-gradient(180deg, blue, grey);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_psychic {
    background-color: darkorchid;
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_dragon {
    background: linear-gradient(180deg, blue, rgb(255, 60, 0));
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_rock {
    background-color: rgb(131, 71, 22);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_steel {
    background-color: rgb(93, 95, 114);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_fighting {
    background-color: rgb(199, 91, 19);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_ice {
    background-color: rgb(0, 204, 255);
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_ghost {
    background-color: purple;
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}

.type_dark {
    background-color: black;
    width: 20%;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem 0.8rem;
}


@media (max-width: 1400px) {
    .imgpoke {
        height: 200px;
    }
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

section input {
    padding: 0.7rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: none;
    border: 2px solid #d32f2f;
    background-color: #ffebee;
    width: 300px;
    font-size: 1rem;
    color: #b71c1c;
}

section input:focus {
    outline: none;
    border-color: #b71c1c;
    background-color: #ffcdd2;
}

section button {
    padding: 0.5rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: none;
    border: 2px solid #d32f2f;
    font-size: 1.3rem;
    background-color: #d32f2f;
    color: white;
    cursor: pointer;
}

section button:hover {
    background-color: #b71c1c;
    border-color: #b71c1c;
}